/vendor/
application/config/database.php
application/config/config.php

application/cache/*
application/logs/*
application/sessions/*

uploads/
application/config/config.php
system/cache/ci_sessionct3dp7i2pku6pad54a9tj8fvals06noj
system/cache/ci_sessionimp81qj5tuk3j22dbhei5v0t64ndi8a1
system/cache/ci_sessionum0vfef4ccte0rqhmbab7qthbb5cqa1t
application/config/config.php
application/config/config.php
